body{
    box-sizing: border-box;
}

h4{
    font-size: 1.2em;
}

.block__1{
    background-color: #ff8000;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.block__1 h4{
    width: 110px;
    height: 30px;
    background-color: #0000ff;
    color: #fff;

}

.block__2{
    background-color: #80ff00;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    
}

.block__2 h4{
    width: 110px;
    height: 30px;
    background-color: #0000ff;
    color: #fff;

}

.block__3{
    background-color: #00ffbf;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    
}

.block__3 h4{
    width: 110px;
    height: 30px;
    background-color: #0000ff;
    color: #fff;

}

.block__4{
    background-color: #ff00ff;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    
}

.block__4 h4{
    width: 110px;
    height: 30px;
    background-color: #0000ff;
    color: #fff;

}


/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
